<br>
<div class="card border-primary">
    <img class="card-img-top" src="{{ property['image'] }}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ property['street'] }}<br>{{ property['town'] }}<br>{{ property['postcode'] }}</h5>
        <p class="lead"><strong>£{{ property['price'] }}</strong></p>
        <p class="card-text">{{ property['description'] }}</p>
    </div>
    <div class="card-footer">
        <a href="buyer-make-an-offer" class="btn btn-outline-primary">Make offer</a>
    </div>
</div>