<br>
<div class="card border-primary">
    <img class="card-img-top" src="/public/images/1 Digital street.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">1 Digital Street</h5>
        <p class="lead"><strong>£250,000</strong></p>
        <p class="card-text">A beautifully presented 4 bedroom house within 0.5 miles of Cabot Court Shopping Centre</p>
    </div>
    <div class="card-footer">
        <a href="buyer-make-an-offer" class="btn btn-primary">Make offer</a>
    </div>
</div>