body > .container {
    padding-top: 80px;
}

.img-section {
    text-align: center;
}

.img-section img {
    border: 2px solid black;
}

.form-check {
    font-size: 1.1em;
    padding: 10px 0px 0px 20px
}

.radio-btn {
    width: 1.5em;
    height: 1.5em;
}

.form-check-label {
    padding-left: 20px;
    line-height: 2em;
}