{% extends 'layout.html' %}

{% block pageTitle %}Buyer HMLR{% endblock %}

{% block head %}
{{super()}}
<style>
	.text-center {
		text-align: center;
	}

	.notification {
		margin-bottom: 20px;
		border: 3px solid #005ea5;
	}
	
	#error-summary-title {
		display: none;
	}
</style>
{% endblock %}

{%set serviceName = "Buy land or property" %}
{%set role = "owner" %}

{% block content %}
<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
				{{ govukErrorSummary({
					'titleText': "This component requires a title.",
					'errorList': [
						{
							'text': "Now that you've exchanged contracts, your next step is to agree for the ownership of your new property to be transferred into your name."
						}
					],
					'classes': "notification"
				}) }}
				
				<h1 class="govuk-heading-l">Transfer property ownership</h1>
	
				{{ govukWarningText({
				"html": "Only continue if the following statement is correct.<br>If you have any questions- contact your solicitor.",
				"iconFallbackText": "Warning"
				}) }}
	
				<p class="govuk-body">
					The ownership of:
				</p>
				<p class="govuk-body">
						1 Digital Street,<br>
						Bristol,<br>
						BS2 8EN
				</p>
				<p class="govuk-body">
					will be transfered to <b>David Jones</b>
				</p>
	
				{{ govukButton({
					"text": "Continue",
					"href": "confirm.html"
				}) }}
		</div>
	  </div>
{% endblock %}