{% extends "generic-layout.html" %}

{% block pageTitle %}Seller Conveyancer{% endblock %}

{% block pageStyles %}
<style>
.lr-bg-green {
	background-color: #8AC0AE;
}

.lr-green {
	color: #8AC0AE;
}
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

{% block navbar %}
{% include 'v2/includes/seller_navbar.html' %}
{% endblock %}

{% block content %}
<div class="w-75 my-5 p-5 mx-auto lr-bg-alert text-center">
				<h4>Use your touch ID to confirm the transfer of ownership</h4>
		<p><a href="transferring.html"><i class="fas fa-fingerprint fa-fw fa-6x --gray-dark"></i></a></p>
	</div>
{% endblock %}