{% extends 'layout.html' %}

{% block pageTitle %}Buyer HMLR{% endblock %}

{% block head %}
{{super()}}
<style>
	.text-center {
		text-align: center;
	}

	.notification {
		margin-bottom: 20px;
		border: 3px solid #005ea5;
	}
</style>
{% endblock %}

{%set serviceName = "Sell land or property" %}
{%set role = "seller" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Confirm transfer of ownership</h1>

    {{ govukWarningText({
      "html": "This step is legally binding.<br>If you have any questions - contact your solicitor.",
      "iconFallbackText": "Warning"
    }) }}

    <form action="/v2/hmlr/sell/signed.html">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<div class="govuk-checkboxes">
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="agreement" name="agreement" type="checkbox" value="agreed" required>
							<label class="govuk-label govuk-checkboxes__label" for="agreement">
									I agree to the <a class="govuk-link" href="#">transfer of ownership</a>
							</label>
						</div>
					</div>
				</fieldset>
			</div>
			<button type="submit" class="govuk-button">
					Confirm transfer
			</button>
		</form>
  </div>
</div>
{% endblock %}