{% extends 'layout.html' %}

{% block pageTitle %}Buyer HMLR{% endblock %}

{% block head %}
{{super()}}
<style>
	.text-center {
		text-align: center;
	}

	.notification {
		margin-bottom: 20px;
		border: 3px solid #005ea5;
	}
	
	#error-summary-title {
		display: none;
	}
</style>
{% endblock %}

{%set serviceName = "Sell land or property" %}
{%set role = "seller" %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<div class="govuk-error-summary notification" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
			<h2 class="govuk-error-summary__title" id="error-summary-title" style="display:none"></h2>
			<div class="govuk-error-summary__body">
				<ul class="govuk-list govuk-error-summary__list">
					<li>
						Now that you've exchanged contracts, your next step is to agree for the ownership of your property to be transferred.
					</li>
				</ul>
			</div>
		</div>
			
		<h1 class="govuk-heading-l">Transfer property ownership</h1>

		{{ govukWarningText({
		"html": "Only continue if the following statement is correct.",
		"iconFallbackText": "Warning"
		}) }}

		<p class="govuk-body">
			You're transferring the ownership of:
		</p>
		<p class="govuk-body">
				1 Digital Street,<br>
				Bristol,<br>
				BS2 8EN
		</p>
		<p class="govuk-body">
			to <b>David Jones</b>
		</p>

		{{ govukButton({
			"text": "Continue",
			"href": "confirm.html"
		}) }}

		{{ govukDetails({
			summaryText: "I don't think this is right",
			text: "If you have any questions - contact your solicitor."
		}) }}

	</div>
</div>
{% endblock %}