{% extends 'layout.html' %}

{% block pageTitle %}Buyer HMLR{% endblock %}

{% block pageStyles %}
{{super()}}
<style>
	.text-center {
		text-align: center;
	}

	.notification {
		margin-bottom: 20px;
		border: 3px solid #005ea5;
	}
</style>
{% endblock %}

{%set serviceName = "Sell land or property" %}
{%set role = "seller" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
		'titleText': "Your property transfer has been successful"
      }) }}
      <h3 class="govuk-heading-m">HM Land Registry have updated the register</h3>
      <p class="govuk-body">
        You're no longer the registed owner of 1 Digital Street
      </p>

      <h3 class="govuk-heading-m">What happens next</h3>
      <p class="govuk-body">
        You can now view the <a class="govuk-link" href="/">updated details</a> for 1 Digital Street.
      </p>

      <h3 class="govuk-heading-m">Questions?</h3>
      <p class="govuk-body">
        If you have any questions about the next steps - contact your solicitor.
      </p>
    </div>
  </div>
{% endblock %}