{% extends "generic-layout.html" %}

{% block pageStyles %}
<!-- Custom page styles go here -->
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/pulse/bootstrap.min.css" rel="stylesheet" integrity="sha384-J7kOMHmyCHLNgMkMNyYuEvEZfdApW59rmw1I94S42EBym3qwLozQi2LGSOzIDRWW" crossorigin="anonymous">
{% endblock %}

{% block pageTitle %}Make an offer | MovR{% endblock %}

{% block navbar %}
{% include 'includes/movr_navbar.html' %}
{% endblock %}

{% block content %}
<!-- Main content goes here -->
<div class="row">
    <div class="col">
        <br><h1>Make an offer for 1 Digital Street</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <form action="buyer-confirm-offer" method="post">
            <legend>This information is pre-filled from your verified details:</legend>
            <div class="form-group">
                <label for="buyerName">Buyer name</label>
                <input type="text" readonly class="form-control" id="buyerName" value="{{ data['buyerName'] }}">
            </div>
            <div class="form-group">
                <label for="buildingStreet">Building and street</label>
                <input type="text" readonly class="form-control" id="buildingStreet" value="{{ data['buildingStreet'] }}">
            </div>
            <div class="form-group">
                <label for="townCity">Town or city</label>
                <input type="text" readonly class="form-control" id="townCity" value="{{ data['townCity'] }}">
            </div>
            <div class="form-group">
                <label for="county">County</label>
                <input type="text" readonly class="form-control" id="county" value="{{ data['county'] }}">
            </div>
            <div class="form-group">
                <label for="postcode">Postcode</label>
                <input type="text" readonly class="form-control" id="postcode" value="{{ data['postcode'] }}">
            </div>
            <div class="form-group">
                    <label for="amount">How much do you want to offer?</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="currency">£</span>
                        </div>
                        <input type="number" class="form-control" id="offer" name="offer" value="{{ data['offer'] }}" aria-describedby="currency">
                    </div>
                </div>
            <button type="submit" class="btn btn-primary">Make offer</button>
        </form>
    </div>
</div>
{% endblock %}
