{% extends "generic-layout.html" %}

{% block pageStyles %}
<!-- Custom page styles go here -->
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/journal/bootstrap.min.css" rel="stylesheet" integrity="sha384-5C8TGNupopdjruopVTTrVJacBbWqxHK9eis5DB+DYE6RfqIJapdLBRUdaZBTq7mE" crossorigin="anonymous">
{% endblock %}

{% block pageTitle %}Agree to buy | QuickBuy!{% endblock %}

{% block navbar %}
{% include 'includes/quickbuy_navbar.html' %}
{% endblock %}

{% block content %}
<!-- Main content goes here -->
<div class="row">
    <div class="col">
        <br><h1>Sales contract for 1 Digital Street</h1><br>
        <p class="lead"><i class="fas fa-exclamation-circle fa-fw fa-lg text-danger"></i>Only continue if the information is correct. If you have any questions contact your conveyancer.</p>
        <p>I <strong>David Jones</strong> of</p>
        <address>
            13 Friary Lane<br>
            Poole<br>
            BH12 3FD
        </address>
        <p>agree to buy</p>
        <address>
            1 Digital Street<br>
            Bristol<br>
            BS2 8EN
        </address>
        <p>for <strong>£250,000</strong></p>
        <p><a class="btn btn-primary btn-lg" href="buyer-agree-to-buy" role="button">Continue</a></p>
        <p><a href="#">View full sales contract</a></p>
    </div>
</div>
{% endblock %}
