{% extends "generic-layout.html" %}

{% block pageStyles %}
<!-- Custom page styles go here -->
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/pulse/bootstrap.min.css" rel="stylesheet" integrity="sha384-J7kOMHmyCHLNgMkMNyYuEvEZfdApW59rmw1I94S42EBym3qwLozQi2LGSOzIDRWW" crossorigin="anonymous">
{% endblock %}

{% block pageTitle %}Verify agreement in Principle | MovR{% endblock %}

{% block navbar %}
{% include 'includes/movr_navbar.html' %}
{% endblock %}

{% block content %}
<!-- Main content goes here -->
<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4"><i class="fas fa-spinner fa-spin"></i> We're verifying your agreement in principle...</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
    window.setTimeout(function(){
        window.location.replace("/v0/buyer-make-an-offer");
    }, 5000);
</script>
{% endblock %}
