{% extends "layout.html" %}

{% block pageTitle %}
    Allow access to your logbook
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Allow access to your logbook</h1>

<form action="/v0/delegate-access" method="post">

    <div class="govuk-form-group">
    <label class="govuk-label" for="delegate-type">
        Who do you want to give access to?
    </label>
    <select class="govuk-select govuk-input--width-10" id="delegate-type" name="delegate-type">
        <option value="estate_agent" {% if selected_type == 'estate_agent' %} selected {% endif %}>Estate agent</option>
        <option value="seller_conveyancer" {% if selected_type == 'seller_conveyancer' %} selected {% endif %}>Your conveyancer</option>
        <option value="buyer_conveyancer" {% if selected_type == 'buyer_conveyancer' %} selected {% endif %}>Buyer's conveyancer</option>
        <option value="surveyor" {% if selected_type == 'surveyor' %} selected {% endif %}>Surveyor</option>
    </select>
    </div>

    {{ govukInput({
        label: {
          text: "What's their name?"
        },
        classes: "govuk-input--width-20",
        id: "delegate-name",
        name: "delegate-name"
    }) }}

    {{ govukInput({
        label: {
          text: "What's their email address?"
        },
        classes: "govuk-input--width-20",
        id: "delegate-email",
        name: "delegate-email"
    }) }}

    {{ govukButton({
        text: "Give access"
    }) }}

</form>
    
{% endblock %}
