{% extends "generic-layout.html" %}

{% block pageStyles %}
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-3Ivskwia8Fui5tbQi+RW4DgTkJ8d+hW7mLe7Yk89ibmD9482VECh0WFof8kIEjwI" crossorigin="anonymous">
{% endblock %}

{% block pageTitle %}
    Performing Land Registry checks
{% endblock %}

{% block navbar %}
{% include 'includes/identify_navbar.html' %}
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1>We're carrying out checks with HM Land Registry</h1>
    <p><i class="fa fa-spinner fa-spin fa-5x"></i></p>
</div>
{% endblock %}

{% block pageScripts %}
<script>
    window.setTimeout(function(){
        window.location.replace("/v0/property-logbook");
    }, 5000);
</script>
{% endblock %}