{% extends "layout.html" %}

{% block pageTitle %}
    Pre contract enquiries
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Pre contract enquiries</h1>

{{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "planning-restrictions",
    name: "planning-restrictions",
    fieldset: {
      legend: {
        text: "Are there any planning restrictions on your property?",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes" 
      },
      {
        value: "no",
        text: "No"
      }
    ]
  })
}}

{{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "use-restrictions",
    name: "use-restrictions",
    fieldset: {
      legend: {
        text: "Are there any restrictions on what your property can be used for?",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes" 
      },
      {
        value: "no",
        text: "No"
      }
    ]
  })
}}

{{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "alterations",
    name: "alterations",
    fieldset: {
      legend: {
        text: "Have you made any alterations to your property?",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes" 
      },
      {
        value: "no",
        text: "No"
      }
    ]
  })
}}

{{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "obligations",
    name: "obligations",
    fieldset: {
      legend: {
        text: "Do you have any obligations to contribute to repairing or maintaining other land?",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes" 
      },
      {
        value: "no",
        text: "No"
      }
    ]
  })
}}

{{ govukButton({
    text: "Continue",
    href: "seller-upload-documents"
}) }}
    
{% endblock %}
