{% extends "layout.html" %}

{% block pageTitle %}
  Upload documents
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Upload documents</h1>

<p class="govuk-body">
  If you answered 'yes' to some of your pre-contract questions - you can now upload
  any supporting documents you may have.
</p>

<!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      {{ govukFileUpload({
        id: "file-upload-1",
        name: "file-upload-1",
        label: {
          classes: "govuk-label--m",
          text: "Planning restrictions"
        }
      }) }}
  </div>
</div>

<!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      {{ govukFileUpload({
        id: "file-upload-2",
        name: "file-upload-2",
        label: {
          classes: "govuk-label--m",
          text: "Restrictions on what your property can be used for"
        }
      }) }}
  </div>
</div>

<!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukFileUpload({
          id: "file-upload-3",
          name: "file-upload-3",
          label: {
            classes: "govuk-label--m",
            text: "Property alterations and guarantees for work done"
          }
        }) }}
    </div>
  </div>

{{ govukButton({
  text: "Save",
  href: "property-logbook"
}) }}
    
{% endblock %}
