{% extends "layout.html" %}

{% block pageTitle %}
    Pre contract enquiries
{% endblock %}

{% block content %}

{{ govukInsetText({
    text: "Before you sell your property you may want to upload your pre-contract information.
    Having this information upfront will speed up the sale of your property."
}) }}

<h1 class="govuk-heading-xl">Pre contract enquiries</h1>

{{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "listed-building",
    name: "listed-building",
    fieldset: {
      legend: {
        text: "Is your property a listed building?",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes" 
      },
      {
        value: "no",
        text: "No"
      }
    ]
  })
}}

{{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "conservation-area",
    name: "conservation-area",
    fieldset: {
      legend: {
        text: "Is your property in a conservation area?",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  })
}}

{{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "disputes",
    name: "disputes",
    fieldset: {
      legend: {
        text: "Have you had any disputes with your neighbours?",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  })
}}

{{ govukButton({
    text: "Continue",
    href: "seller-pre-contract-enquiries2"
}) }}

<p class="govuk-body">
    <a href="/v0/seller-pre-contract-enquiries2" class="govuk-link">Skip this step</a>
</p>
    
{% endblock %}
