{% extends "v4/lender/layout.html" %}

{% block header %}
  {% include "v4/lender/loans4homes/includes/header.html" %}
{% endblock %}

{% block main %}
  <div class="container-fluid mt-3">
		<div class="row">
      {% block sidebar %}
        {% include "v4/lender/loans4homes/includes/sidebar.html" %}
      {% endblock %}
      <main role="main" class="ml-sm-auto col-md-10">
        {% block beforeContent %}
        {% endblock %}

        {% block content %}
          <form name="remove_charge_form" action="{{ nextURL }}">
            <div class="row">
              <div class="col-lg-7 p-4 mt-5 loans4homes-container loans4homes-content-text">
                <h3>Agree to discharge of charge and charge restriction</h3>
                <p class="lead">
                  As the seller's offer for their property satisfies their redemption figure you can consent to the
                  discharge of your charge and charge restriction. By agreeing, you're allowing HMLR to remove these
                  from the register on point of completion.
                </p>
                <h5>Address</h5>
                <p>
                  1 Digital Street,<br>
                  Bristol, <br>
                  BS2 8EN <br>
                </p>
                <h5>Charge</h5>
                <p>
                  <strong>Date: </strong> 10/03/2011 <br>
                  <strong>Amount: </strong> £110,000
                </p>
                <h5>Restriction</h5>
                <p>
                  No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated 10/03/2011 in favour of Loans4Homes referred to <br> in the Charges Register.
                </p>
                <button type="submit" class="btn loans4homes-button">
                  Agree to discharge
                </button>
                <br>
                <u><a href="#" class="colour-inherit">I don't agree with this discharge</a></u>
              </div>
            </div>
          </form>
        {% endblock %}
      </main>
    </div>
  </div>
{% endblock %}
