{% extends "v4/lender/layout.html" %}

{% block header %}
  {% include "v4/lender/loans4homes/includes/header.html" %}
{% endblock %}


{% block main %}
  <div class="vertical-center">
    <div class="container">
      <div class="row">
        <main role="main" class="col-lg-7 ml-sm-auto px-4 loans4homes-container loans4homes-content-text">
          <h1>Login</h1>
          <div class="container-fluid h-100">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <form action="{{ nextURL }}" method="post">
                  <div class="form-group text-left">
                    <label for="email">Email:</label><br>
                    <input type="text" name="email" id="email" class="form-control" required="required">
                  </div>
                  <div class="form-group text-left">
                    <label for="password">Password:</label><br>
                    <input type="password" name="password" id="password" class="form-control">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn font-weight-bold loans4homes-button">Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
{% endblock %}
