{% extends "v4/conveyancer/layout.html" %}

{% block header %}
  {% include "v4/conveyancer/propertylaw/includes/header.html" %}
{% endblock %}

{% block main %}
    <div class="container-fluid mb-5">
        <div class="row">
            <main role="main" class="ml-sm-auto col">
                {% block beforeContent %}
                {% endblock %}

                {% block content %}
                <form name="agreement_form" action="{{ nextURL }}">
                    <div class="row">
                        <div class="col-lg-8 propertylaw-container">
                            <h1>Agree to sign your sales, mortgage and transfer agreements</h1>
                            <p class="mb-0">
                                Please agree to your sales agreement, mortgage terms and property transfer. <br>
                                You'll verify this on the next screen.
                                <br> You can view your full documents below.
                            </p>
                            <br>
                            <strong>
                                1 Digital Street <br>
                                Bristol <br>
                                England <br>
                                BS2 8EN
                            </strong>
                            <div class="row m-2">
                                <div class="col">
                                    will be bought for
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <strong> £124,000 </strong>
                                </div>
                            </div>
                            <br>
                            I agree to:
                            <div class="agreement-checkboxes">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="sales-agreement" required>
                                    <label class="form-check-label" for="sales-agreement">
                                        <strong><u>my sales agreement</u></strong>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="mortgage-terms" required>
                                    <label class="form-check-label" for="mortgage-terms">
                                        <strong><u>Gringotts Bank's mortgage terms</u></strong>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="property-transfer" required>
                                    <label class="form-check-label" for="property-transfer">
                                        <strong><u> my property transfer</u></strong>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn propertylaw-bg-button btn-blue m-3">
                                    Continue
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
