{% extends "v4/conveyancer/layout.html" %}

{% block header %}
  {% include "v4/conveyancer/propertylaw/includes/header.html" %}
{% endblock %}

{% block main %}
    <div class="container-fluid mb-5">
        <div class="row">
            {% block sidebar %}
                {% include "v4/conveyancer/propertylaw/includes/sidebar.html" %}
            {% endblock %}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-0 mt-5">
                {% block beforeContent %}
                {% endblock %}

                {% block content %}
                <div class="row">
                    <div class="col-lg-8 propertylaw-container">
                    <h3>You can now agree and sign your sales and transfer agreements</h3>
                    <h5>You'll need your touch ID to do this.<br>
                        <div class="container text-left">
                        <ol class="propertylaw-agreement">
                            <li> 
                                Your sales contract is your written agreement with the seller <br>
                                which sets out the terms of the sale. It specifies the rights and duties of you and the seller.
                                It needs to be signed by both parties
                                before it's legally binding.
                            </li>
                            <li>
                                When you've signed your mortgage agreement, it confirms that you're happy to proceed based on the terms of your mortgage offer.  <br>
                                Upon completion of your property sale, the signed mortgage agreements is legally binding.
                            </li>
                            <li>
                                The property needs to be registered in your name with HM Land Registry.
                                Once this is done, ownership of the property will be legally transferred to you from the seller.
                            </li>
                        </ol>
                        </div>
                    </h5>
                    <a href="{{ nextURL }}">
                        <button type="button" class="btn propertylaw-bg-button btn-blue m-3">Continue</button>
                    </a>
                    </div>
                </div>
                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
