{% extends "v4/conveyancer/layout.html" %}

{% block header %}
  {% include "v4/conveyancer/propertylaw/includes/header.html" %}
{% endblock %}

{% block main %}
    <div class="container-fluid mb-5">
        <div class="row">
            {% block sidebar %}
                {% include "v4/conveyancer/propertylaw/includes/sidebar.html" %}
            {% endblock %}

            <main role="main" class="ml-sm-auto col-lg-10">
                {% block beforeContent %}
                {% endblock %}

                {% block content %}
                <div class="col-lg-7 propertylaw-container text-center">
                    <h1>Great news!</h1>                    
                    You've signed your sales, mortgage and transfer agreements<br>
                    <br>
                    1 Digital Street<br>
                    Bristol<br>
                    England<br>
                    BS2 8EN<br>
                    will be transferred on <strong>{{ completionDate }}</strong>
                    <br><br>
                    We'll be in touch with any updates<br>
                    <strong>You can now <u><a href="{{ nextURL }}" class="colour-inherit">logout</a></u></strong>                    
                </div>
                {% endblock %}

            </main>
        </div>
    </div>
{% endblock %}


{% block bodyEnd %}
{% endblock %}
