{% extends "layout.html" %}

{% block pageTitle %}
    Property record
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        {% if notification %}
            {% if notification == 'registered' %}
                <div class="govuk-error-summary notification" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        Good news!
                    </h2>
                    <p class="govuk-body">
                            Now we know that you’re the registered owner of this property you can:
                            <ul class="govuk-list govuk-list--bullet">
                                <li>sell your property</li>
                                <li>view the details HMLR hold on your property</li>
                                <li>view and change the details HMLR hold about you</li>
                                <li>share your property record with others, for example your solicitor</li>
                            </ul>
                        <a class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-1" href='/v1/seller-pre-contract-enquiries'>Sell this property</a>
                    </p>
                </div>

            {% elseif notification == 'information' %}
                <div class="govuk-error-summary notification" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        Good news!
                    </h2>
                    <p class="govuk-body">
                        You can now share this property record with a certified estate agent to act on your behalf<br>
                        <a class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-1" href='/v1/seller-delegate-access'>Share property record</a>
                    </p>
                </div>
            {% elseif notification == 'valuation' %}
                <div class="govuk-error-summary notification" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        Good news!
                    </h2>
                    <p class="govuk-body">
                        You've received a valuation for 1 Digital Street<br>
                        <a class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-1" href='/v1/seller-review-valuation'>Review this valuation</a>
                    </p>
                </div>
            {% elseif notification == 'offer' %}
                <div class="govuk-error-summary notification" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        Good news!
                    </h2>
                    <p class="govuk-body">
                        You've received an offer for 1 Digital Street<br>
                        <a class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-1" href='/v1/seller-review-offer'>Review this offer</a>
                    </p>
                </div>
            {% elseif notification == 'offer_accepted' %}
                <div class="govuk-error-summary notification" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        Good news!
                    </h2>
                    <p class="govuk-body">
                        Now you've accepted an offer for your property, you can share your property record with your solicitor.<br>
                        <a class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-1" href='/v1/seller-delegate-access'>Share property record</a>
                    </p>
                </div>
            {% elseif notification == 'draft_contract' %}
                <div class="govuk-error-summary notification" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        Good news!
                    </h2>
                    <p class="govuk-body">
                        Your draft sales contract is ready for review<br>
                        <a class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-1" href='/v1/seller-draft-sales-contract'>Review draft contract</a>
                    </p>
                </div>
            {% elseif notification == 'sales_contract' %}
                <div class="govuk-error-summary notification" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        Good news!
                    </h2>
                    <p class="govuk-body">
                        You can now sign your sales contract and transfer of ownership<br>
                        <a class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-1" href='/v1/seller-agree-to-sell'>Sign contracts</a>
                    </p>
                </div>
            {% endif %}
        {% endif %}
        <div class="title-summary">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
                        1 Digital Street<br>Bristol<br>BS2 8EN
                        <hr>
                    </h1>
        
                    <p class="govuk-body">
                    {% if sold %}
                        This register was last changed on <strong>17 August 2018</strong> at <strong>15:31:54</strong><br>
                    {% else %}
                        This register was last changed on <strong>17 June 2017</strong> at <strong>14:08:34</strong><br>
                    {% endif %}
                    {% if role == 'seller' %}
                        <div class="pending-application">
                            <p>
                                There’s a <a href="#">pending application</a> on this title
                            </p>
                        </div>
                    {% endif %}
                    </p>
                </div>
                <div class="govuk-grid-column-one-third">
                    <div class="img-section">
                        <img src="/public/images/map-view.png" alt="An image of the property's boundary">
                        <p class="govuk-body-s">Boundary of the property.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            <p class="govuk-body">
                {% if role %}
                    {% if ['owner', 'seller'].includes(role) %}
                        {% if sold %}
                            <strong>Current owner: </strong>Mr David Jones<br><br>
                        {% else %}
                            <strong>Current owner: </strong>Mrs Lisa White<br><br>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <strong>Title number: </strong>DS1239B<br><br>
                <strong>Tenure type: </strong>Freehold<br><br>
                {% if role == 'owner' %}
                <strong>Class of title: </strong>Absolute<br><br>
                {% endif %}

                <strong>Property description:</strong><br>
                4 bedroom house with garden and private garage.<br><br>

                {% if ['owner', 'seller'].includes(role) %}
                    <strong>Contact details:</strong><br>
                    Lisa White<br>
                    1 Digital Street<br>
                    Bristol<br>
                    BS2 8EN<br>
                    lisawhite@gmail.com
                {% endif %}
            </p>

            {% if offer and role == 'seller' %}
                {% if offer_accepted %}
                    {{ govukWarningText({
                        text: "Offer of " + offer.amount + " accepted by you on " + offer_accepted.day + " " + offer_accepted.month + " " + offer_accepted.year,
                        iconFallbackText: "Warning"
                    }) }}
                {% elseif notification == 'offer' %}
                    {{ govukWarningText({
                        text: "Offer received for " + offer.amount + " on " + offer.day + " " + offer.month + " " + offer.year,
                        iconFallbackText: "Warning"
                    }) }}
                {% else %}
                    <p class="govuk-body">
                        <strong>Current offer:</strong><br>
                        Offer received for {{ offer.amount }} on {{ offer.day }} {{ offer.month }} {{ offer.year }}</p>
                {% endif %}
            {% endif %}

            {% if valuation and role == 'seller' %}
                {% if notification == 'valuation' %}
                    <div class="govuk-inset-text">
                        <table class="govuk-table">
                            <caption class="govuk-table__caption">Current valuation</caption> 
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">{{ valuation.price }}</td>
                                    <td class="govuk-table__cell">{{ valuation.valuer }}</td>
                                    <td class="govuk-table__cell">{{ valuation.date }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <table class="govuk-table">
                        <caption class="govuk-table__caption">Current valuation</caption> 
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ valuation.price }}</td>
                                <td class="govuk-table__cell">{{ valuation.valuer }}</td>
                                <td class="govuk-table__cell">{{ valuation.date }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
                  
            <table class="govuk-table">
                <caption class="govuk-table__caption">Price history</caption>                
                <tbody class="govuk-table__body">
                    {% if sold %} 
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">£250,000</td>
                        <td class="govuk-table__cell">Sold</td>
                        <td class="govuk-table__cell">{{ sold.day }} {{ sold.month }} {{ sold.year }}</td>
                    </tr>
                    {% endif %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">£210,000</td>
                        <td class="govuk-table__cell">Sold</td>
                        <td class="govuk-table__cell">17 June 2017</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">£160,000</td>
                        <td class="govuk-table__cell">Sold</td>
                        <td class="govuk-table__cell">16 May 2006</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">£125,000</th>
                        <td class="govuk-table__cell">Sold</td>
                        <td class="govuk-table__cell">16 August 2001</td>
                    </tr>
                </tbody>
            </table>
            
            <h2 class="govuk-heading-l">Things that affect this property</h2>
            <p class="govuk-body"><strong>This property:</strong></p>
            <ul class="govuk-list govuk-list--bullet">
                <li>sits within an urban development area <a class="govuk-link" href="#">(source)</a></li>
                <li>is subject to hedgerow notices <a class="govuk-link" href="#">(source)</a></li>
            </ul>
            <p class="govuk-body"><strong>You can't:</strong></p>
            <ul class="govuk-list govuk-list--bullet">    
                <li>mine this land <a class="govuk-link" href="#">(source)</a></li>
                <li>build a factory <a class="govuk-link" href="#">(source)</a></li>
                <li>use this land for a business <a class="govuk-link" href="#">(source)</a></li>
                <li>build on the south side of the property <a class="govuk-link" href="#">(source)</a></li>
            </ul>                
            <p class="govuk-body"><strong>You can:</strong></p>
            <ul class="govuk-list govuk-list--bullet">
                <li>use the path at the end of 2 Digital Street to access your property <a class="govuk-link" href="#">(source)</a></li>
            </ul>
            <p class="govuk-body"><strong>Other people can use your land. The:</strong></p>
            <ul class="govuk-list govuk-list--bullet">
                <li>local church can charge a regular maintenance fee <a class="govuk-link" href="#">(source)</a></li>
                <li>owners of 2 Digital Street can use the path at the back of their land but must contribute to its maintenance costs <a class="govuk-link" href="#">(source)</a></li>
                <li><a href="#">Southwest Water</a> can access your garden to access the drainage system at the end of your property <a class="govuk-link" href="#">(source)</a></li>
            </ul>
            </ul>            
            <!-- {% if not role %}
                {{ govukButton({
                    text: "I own this property",
                    href: "identify-sign-in"
                }) }}
            {% elseif ['owner', 'seller'].includes(role) %}
                {% if role == 'owner' %}
                    {{ govukButton({
                        text: "Sell this property",
                        href: "seller-pre-contract-enquiries1"
                    }) }}
                {% elseif role == 'seller' %}
                    {% if offer_accepted %} 
                        {{ govukButton({
                            text: "Review sales contract",
                            href: "seller-agree-to-sell"
                        }) }}
                    {% elseif notification == 'offer' %} 
                        {{ govukButton({
                            text: "Respond to offer",
                            href: "seller-review-offer"
                        }) }}
                    {% elseif surveyor_report %}
                        {{ govukButton({
                            text: "Wait for offer",
                            href: "seller-receives-offer"
                        }) }}
                    {% else %}
                        {{ govukButton({
                            text: "Allow access to my record",
                            href: "seller-delegate-access"
                        }) }}
                    {% endif %}
                {% endif %}
            {% endif %} -->
            {% if not role %}
                {{ govukButton({
                    text: "Prove ownership",
                    href: "identify-sign-in"
                }) }}
            {% endif %}
            <p class="govuk-body"><a href="#">Download a legal copy of this information</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
            {% if ['owner', 'seller'].includes(role) %}
                <p class="govuk-body"><strong>HMLR documents:</strong><br>
                    <a href="#">Official copy of the register</a><br>
                    <a href="#">Title plan</a>
                </p>
                <p class="govuk-body"><strong>Your documents:</strong><br>
                    <a href="#">Mortgage deed</a><br>
                    {% if role == 'seller' %}
                        <a href="#">Gas certificate</a><br>
                        <a href="#">Renovations information</a><br>
                        <a href="#">Planning restrictions</a><br>
                        {% if surveyor_report %}
                            <a href="#">Surveyor report</a><br>
                        {% endif %}
                        {% if role == 'seller' %}
                            <a href="#">Pre-sale property contract</a>
                        {% endif %}
                    {% endif %}
                </p>
                <p class="govuk-body"><strong>Things you can do:</strong><br>
                    <a href="#">Change your details</a><br>
                    <!-- <a href="#">Change your contact details</a><br> -->
                    <a href="#">Upload documents</a></br>
                    <a href="#">Gift this property</a><br>
                    <a href="#">Sell this property</a><br>
                    <!-- <a href="#">Sell part of this property</a></br>
                    <a href="#">Gift part of this property</a></br> -->
                </p>
                <p class="govuk-body">View your local authority <a href="#">searches document</a> or <a href="#">view on a map</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
