{% extends "generic-layout.html" %}

{% block pageStyles %}
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/pulse/bootstrap.min.css" rel="stylesheet" integrity="sha384-J7kOMHmyCHLNgMkMNyYuEvEZfdApW59rmw1I94S42EBym3qwLozQi2LGSOzIDRWW" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="/public/stylesheets/generic.css">
{% endblock %}

{% block pageTitle %}
    Sales contract
{% endblock %}

{% block navbar %}
{% include 'includes/movr_navbar.html' %}
{% endblock %}

{% block content %}
<h1>Review offer for 1 Digital Street</h1><br>

<div class="row" style="margin-bottom: 50px;">
  <div class="col-8">
    <p class="lead">You've been made an offer of:<br>
        <strong>£250,000</strong><br><br>
        for <br><br>

        <strong>
            1 Digital Street, <br>
            Bristol, <br>
            BS2 8EN
        </strong> <br><br>

        by a verified buyer.
    </p>
    
    <fieldset>
        <legend>Would you like to accept this offer?</legend>
        <div class="form-group">
            <label class="radio-inline" for="accept-offer-yes" style="margin-right: 10px; font-size: 16px;">
                <input type="radio" id="accept-offer-yes" name="accept-offer" checked="" style="margin-right: 5px;">
                Yes
            </label>
            <label class="radio-inline" for="accept-offer-no" style="margin-right: 10px; font-size: 16px;">
                <input type="radio" id="accept-offer-no" name="accept-offer" style="margin-right: 5px;">
                No
            </label>
        </div>
    </fieldset>

    <p>
        <span><i class="fas fa-exclamation-circle fa-lg"></i></span> By accepting this offer, you are entering into a legally binding contract.
    </p>
    <a class="btn btn-primary" href="/v1/property-record">Confirm</a>
  </div>
</div>

{% endblock %}
