{% extends "layout.html" %}

{% block pageTitle %}
    Share your property record
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Share your property record</h1>
        <p class="govuk-body">
            By sharing your property record you’re allowing someone to act on your behalf. You’ll need to provide some details about the person you’re sharing your record with. 
        </div>
    </div>
    <form action="/v1/delegate-access" method="post">
    
        {{ govukInput({
            label: {
                text: "Full name"
            },
            classes: "govuk-input--width-20",
            id: "delegate-name",
            name: "delegate-name"
        }) }}
        
        {{ govukInput({
            label: {
                text: "Email address"
            },
            classes: "govuk-input--width-20",
            id: "delegate-email",
            name: "delegate-email"
        }) }}
        
        </p>
        <div class="govuk-form-group">
            <label class="govuk-label" for="delegate-type">
            Role
            </label>
            <select class="govuk-select govuk-input--width-10" id="delegate-type" name="delegate-type">
                <option value="estate_agent" {% if selected_type == 'estate_agent' %} selected {% endif %}>Estate agent</option>
                <option value="seller_solicitor" {% if selected_type == 'seller_solicitor' %} selected {% endif %}>My solicitor</option>
                <option value="seller_bank">My bank</option>
                <option value="other">Other</option>
            </select>
    </div>

    {{ govukButton({
        text: "Share property record"
    }) }}

</form>
    
{% endblock %}
