{% extends 'lr-layout.html' %}

{% block pageTitle %}
    Offer received
{% endblock %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading"><i class="far fa-clock fa-2x"></i></h1>
        <p class="lead text-muted">After several viewings, the estate agent receives an offer on the property and adds it to the record.</p>
        <a class="btn btn-primary" href="/v1/seller-notify-offer">Continue</a>
    </div>
</section>
{% endblock %}