
{% extends "layout.html" %}

{% block pageTitle %}
  Digital Street
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Digital Street Prototypes</h1>
      <h2 class="govuk-heading-l">Introduction</h2>
      <p class="govuk-body">
        This page contains links to each iteration of Digital Street's "buy/sell land or property" prototypes.
      </p>
      <h3 class="govuk-heading-m">Reset demo</h3>
      <p class="govuk-body">
        Click the 'Clear data' link in the footer to remove any session data and reset the prototype. (This is only required for v2 and below)
      </p>

      <h2 class="govuk-heading-l">Versions</h2>

      <h3 class="govuk-heading-m">Property transfer</h3>

      <h4 class="govuk-heading-m">Version 4</h4>
      <p><a href="/v4/conveyit4u/alternate-login">End to end property transfer including lenders</a></p>

      <h4 class="govuk-heading-m">Version 3</h4>
      <p><a href="/v3/conveyit4u/login-1">End to end property transfer</a></p>
      <p><a href="/v3//conveyit4u/alternate-login">End to end property transfer (excluding seller conveyancer instruction)</a></p>

      <h4 class="govuk-heading-m">Version 2</h4>
      <p><a href="/v2/hmlr/sell/overview.html">Gov - Sell land or property 1</a></p>
      <p><a href="/v2/hmlr/buy/overview.html">Gov - Buy land or property</a></p>
      <p><a href="/v2/hmlr/sell/notification.html">Gov - Sell land or property 2</a></p>
      <p><a href="/v2/seller/overview.html">Conveyancer - Sell land or property 1</a></p>
      <p><a href="/v2/buyer/overview.html">Conveyancer - Buy land or property</a></p>
      <p><a href="/v2/seller/notification.html">Conveyancer - Sell land or property 2</a></p>

      <h3 class="govuk-heading-m">Property record</h3>
      <h4 class="govuk-heading-m">Version 1</h4>
      <p><a href="/v1/seller-start-page">Sell land or property</a></p>

      <h4 class="govuk-heading-m">Version 0</h4>
      <p><a href="/v0/seller-start-page">Sell land or property</a></p>
      <p><a href="/v0/buyer-agreement-in-principle">Buy land or property</a></p>
    </div>
</div>

{% endblock %}
