{% extends "v4/conveyancer/layout.html" %}

{% block header %}
  {% include "v4/conveyancer/conveyit4u/includes/header.html" %}
{% endblock %}

{% block main %}
  <div class="container-fluid mb-5">
    <div class="row">
      {% block sidebar %}
        {% include "v4/conveyancer/conveyit4u/includes/sidebar.html" %}
      {% endblock %}
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-1 mt-2">
        {% block beforeContent %}
        {% endblock %}

        {% block content %}
            <form name="agreement_form" action="{{ nextURL }}">
                <div class="row">
                <div class="col-lg-7 conveyit4u-container">
                    <h1>Sign your sales and transfer agreements</h1>
                    <p class="mb-0">
                        Please agree to your sales and transfer agreements. You'll confirm this on the next screen.
                        You can view your full documents by clicking on the links below.<br> <br>

                      <strong>
                        1 Digital Street <br>
                        Bristol <br>
                        England <br>
                        BS2 8EN
                      </strong>
                    </p>
                    <div class="row m-2">
                      <div class="col">
                          will be sold for
                      </div>
                    </div>
                    <div class="row">
                      <div class="col"> <strong>£124,000.00 </strong></div>
                      </div>
                      <br>

                      I agree to my:
                    <div class="row m-xs-1">
                      <div class="col-1 col-lg-5 text-right p-0 ">
                          <input type="checkbox" class="mt-xs-2" required="required">
                      </div>
                      <div class="col text-left pl-2">
                          <strong><u>sales agreement</u></strong>
                      </div>
                    </div>
                    <div class="row m-xs-1">
                      <div class="col-1 col-lg-5 text-right p-0">
                          <input type="checkbox" class="mt-xs-2" required="required">
                      </div>
                      <div class="col text-left pl-2">
                          <strong><U>property transfer</u></strong>
                      </div>
                    </div>
                    <div class="row">
                    <div class="col">
                      <button type="submit" class="btn conveyit4u-bg-button btn-blue m-3">
                        Continue
                      </button>
                    </div>
                    </div>
                </div>
                </div>
            </form>
        {% endblock %}
      </main>
    </div>
  </div>
{% endblock %}
