{% extends "v4/conveyancer/layout.html" %}

{% block header %}
  {% include "v4/conveyancer/conveyit4u/includes/header.html" %}
{% endblock %}

{% block main %}
  <div class="container-fluid mb-5">
    <div class="row">      
      <main role="main" class="ml-sm-auto col">
        {% block beforeContent %}
        {% endblock %}

        {% block content %}
            <form name="agreement_form" action="{{ nextURL }}">
                <div class="row">
                <div class="col-lg-7 conveyit4u-container">
                    <h2>Sign your sales and transfer agreements</h2>
                    <p class="mb-0">
                        Please agree to your sales and transfer agreements. You'll confirm this on the next screen.
                        You can view your full documents by clicking on the links below.<br> <br>

                      <strong>
                        1 Digital Street <br>
                        Bristol <br>
                        England <br>
                        BS2 8EN
                      </strong>
                    </p>
                    <div class="row m-2">
                      <div class="col">
                          will be sold for
                      </div>
                    </div>
                    <div class="row">
                      <div class="col"> <strong>£124,000.00 </strong></div>
                    </div>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="sales-agreement" required>
                        <label class="form-check-label" for="sales-agreement">
                          I agree to my <strong><u>sales agreement</u></strong>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="property-transfer" required>
                        <label class="form-check-label" for="property-transfer">
                            I agree to <strong><u>transfer my property</u></strong>
                        </label>
                    </div>                  
                    <div class="row">
                      <div class="col">
                        <button type="submit" class="btn conveyit4u-bg-button btn-blue m-3">
                          Continue
                        </button>
                      </div>
                    </div>
                </div>
                </div>
            </form>
        {% endblock %}
      </main>
    </div>
  </div>
{% endblock %}
