{% extends "v4/conveyancer/layout.html" %}

{% block header %}
  {% include "v4/conveyancer/conveyit4u/includes/header.html" %}
{% endblock %}

{% block main %}
    <div class="container-fluid mb-5">
        <div class="row">
            <main role="main" class="ml-sm-auto col">
                {% block beforeContent %}
                {% endblock %}

                {% block content %}
                <div class="col-lg-7 conveyit4u-container text-center pt-4">
                    <h1>Congratulations!</h1>
                    <h2>Your sales and transfer agreements have been signed</h2>
                    <br>
                    <img src="/public/v4/images/confirmation_signed_agreements_seller.png" class="img-responsive confirmation-image">
                    <br><br>
                    <p class="lead">
                        1 Digital Street<br>
                        Bristol<br>
                        England<br>
                        BS2 8EN
                    </p>
                    <br>
                    will be transferred on <br>
                    <strong>{{ completionDate }}</strong>
                    <br><br>
                      <p> We'll be in touch with any updates <p>
                    <strong><a href="{{ nextURL }}" class="colour-inherit"><u>You can now logout</u></a></strong>
                    </div>
                </div>
                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}

{% block bodyEnd %}
{% endblock %}
