{% extends "v4/conveyancer/layout.html" %}

{% block header %}
  {% include "v4/conveyancer/conveyit4u/includes/header.html" %}
{% endblock %}

{% block main %}
    <div class="container-fluid mb-5">
        <div class="row">            
            <main role="main" class="ml-sm-auto col">
                {% block beforeContent %}
                {% endblock %}

                {% block content %}
                <div class="row">
                    <div class="col-lg-8 conveyit4u-container">
                        <h3>You can now agree and sign your sales and transfer agreements</h3>
                        <h5>You'll need your touch ID to do this.</h5>
                        <div class="container text-left">
                            <ol class="conveyit4u-agreement">
                                <li> 
                                    Your sales agreement is your written contract with the buyer which sets out the terms of the sale.
                                    It specifies the rights and duties of you and the buyer. It needs to be signed by both parties before it's legally binding.
                                </li>
                                <li>
                                    The property needs to be registered in the buyer's name, with HM Land Registry.
                                    Once this is done, the ownership of the property will be legally transferred from you to the buyer.
                                </li>
                            </ol>
                        </div>                    
                        <a href="{{ nextURL }}">
                            <button type="button" class="btn conveyit4u-bg-button btn-blue m-3">Continue</button>
                        </a>
                    </div>
                </div>
                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}

{% block bodyEnd %}
{% endblock %}
