{% extends "v4/conveyancer/layout.html" %}

{% block header %}
  {% include "v4/conveyancer/conveyit4u/includes/header.html" %}
{% endblock %}

{% block main %}
  <div class="container-fluid mb-5">
		<div class="row">
      {% block sidebar %}
        {% include "v4/conveyancer/conveyit4u/includes/sidebar.html" %}
      {% endblock %}
      <main role="main" class="col-md-10 ml-sm-auto px-4">
        {% block beforeContent %}
        {% endblock %}

        {% block content %}          
          <div class="m-auto pt-4">
            <h1>Cases</h1>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="selling-tab" data-toggle="tab" href="#selling" role="tab" aria-controls="selling" aria-selected="true">Selling</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="buying-tab" data-toggle="tab" href="#buying" role="tab" aria-controls="buying" aria-selected="false">Buying</a>
              </li>                
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="selling" role="tabpanel" aria-labelledby="selling-tab">
                <div class="table-responsive">
                  <table class="table table-hover" id="tbl_case_list">
                    <tbody>
                      <thead>
                        <tr>
                          <th scope="col">Client</th>                    
                          <th scope="col">Address</th>
                          <th scope="col">Title number</th>
                          <th scope="col">Action required</th>
                        </tr>
                      </thead>
                      <tr>
                        <td scope="row">Lisa White</td>                    
                        <td>
                          1 Digital Street,<br>
                          Bristol,<br>
                          BS2 8EN
                        </td>                    
                        <td>ZQV888860</td>
                        <td><a href="{{ nextURL }}">Draft sales agreement</a></td>
                      </tr>
                      <tr>
                        <td scope="row">Jim Smith</td>                    
                        <td>
                          30 Digital Street,<br>
                          Bristol,<br>
                          BS2 8EN
                        </td>                    
                        <td></td>
                        <td>Waiting for title information</td>
                      </tr>
                      <tr>
                        <td scope="row">Martin Keats</td>                    
                        <td>
                          31 Digital Street,<br>
                          Bristol,<br>
                          BS2 8EN
                        </td>                  
                        <td></td>
                        <td>Waiting for title information</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane fade" id="buying" role="tabpanel" aria-labelledby="buying-tab">
                <div class="table-responsive">
                    <table class="table table-hover" id="tbl_case_list">
                      <tbody>
                        <thead>
                          <tr>
                            <th scope="col">Client</th>
                            <th scope="col">Address</th>
                            <th scope="col">Title number</th>
                            <th scope="col">Action required</th>
                          </tr>
                        </thead>                  
                        <tr>
                          <td scope="row">Sarah Wilkes</td>                      
                          <td>
                            12 Digital Street,<br>
                            Bristol,<br>
                            BS2 8EN
                          </td>                      
                          <td></td>
                          <td>Waiting for title information</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
        {% endblock %}
      </main>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
{% endblock %}
