{% extends "v4/conveyancer/layout.html" %}


{% block header %}
  {% include "v4/conveyancer/conveyit4u/includes/header.html" %}
{% endblock %}

{% block main %}
  <div class="container-fluid mb-5">
    <div class="row">
      <main role="main" class="ml-sm-auto col">
        {% block beforeContent %}
        {% endblock %}

        {% block content %}
          <div id="confirm-row" class="row">
            <div class="col-lg-7 conveyit4u-container text-center">
              <h4>Use your Yoti ID to verify that you're happy for your sales and transfer agreements to be signed</h4><br>
              <form id="confirm-form" action="{{ nextURL }}" method="GET">
                <a href="#" onclick="startSigning()">
                  <i class="fas fa-fingerprint fa-fw fa-6x text-white"></i>
                </a>
              </form>
            </div>
          </div>
          <div id="signing-row" class="row text-center" style="display:none">
            <div class="col-lg-7 conveyit4u-container text-center">
              <h4>Signing your sales and transfer agreements...</h4><br>
              <a href="{{ nextURL }}">
                <i class="fa fa-4x fa-hourglass-half text-white"></i>
              </a>
            </div>
          </div>
        {% endblock %}
      </main>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script>
    function startSigning() {
      var formRow = document.getElementById('confirm-row');
      var signingRow = document.getElementById('signing-row');
      formRow.style.display = "none";
      signingRow.style.display = "block";
      setTimeout(function () {
        document.getElementById('confirm-form').submit();
      }, 2000);
    }
  </script>
  {{ super() }}
{% endblock %}
