{% extends "v4/conveyancer/layout.html" %}

{% block head %}
  {{ super() }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
{% endblock %}

{% block header %}
  {% include "v4/conveyancer/conveyit4u/includes/header.html" %}
{% endblock %}

{% block main %}
  <div class="container-fluid mb-5">
    <div class="row">
      {% block sidebar %}
        {% include "v4/conveyancer/conveyit4u/includes/sidebar.html" %}
      {% endblock %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5">
          {% block content %}
              <div class="row">
              <div class="col-lg-7 m-auto ">
                  <h1>Draft sales contract</h1>
                  <form action="{{ nextURL }}" method="GET">
                  <div class="conveyit4u-contract-box form-group">
                      <div class="row pt-2">
                      <div class="col">Seller:</div>
                      <div class="col-6">Lisa White</div>
                      </div>
                      <div class="row pt-2">
                      <div class="col">Buyer:</div>
                      <div class="col-6">David Jones</div>
                      </div>
                      <div class="row pt-2">
                      <div class="col-6">Property
                          <span class="small_font">(freehold/leasehold):</span>
                      </div>
                      <div class="col-6">Freehold
                          <p>
                              1 Digital Street <br>
                              Bristol <br>
                              BS2 8EN
                          </p>
                      </div>
                      </div>
                      <div class="row pt-2">
                      <div class="col">Title number:</div>
                      <div class="col-lg-6">
                          <input class="form-control" readonly="readonly" type="text" id="title_id" name="title_id" value="ZQV888860">
                      </div>
                      </div>
                      <div class="row pt-2">
                      <div class="col">Specific incumbrances:</div>
                      <div class="col-lg-6">
                          <textarea class="form-control" disabled="disabled">None</textarea>
                      </div>
                      </div>
                      <div class="row pt-2 ">
                      <div class="col">Title guarantee (full/limited):</div>
                      <div class="col-lg-6">
                          <select class="form-control" required="required" id="title_guarantee" name="title_guarantee">
                          <option value="">Select</option>
                          <option value="full">Full</option>
                          <option value="limited">Limited</option>
                          </select>
                      </div>
                      </div>
                      <div class="row pt-2">
                      <div class="col">Completion date:</div>
                      <div class="col-lg-6">
                          <input class="form-control" required="required" id="completion_date" name="completion_date"
                              placeholder="DD/MM/YYY" type="text"/>
                      </div>
                      </div>
                      <div class="row pt-2">
                      <div class="col">Agreement rate:</div>
                      <div class="col-lg-6">
                          <input class="form-control" type="number" step="0.01" required="required" id="contract_rate"
                              name="contract_rate">
                      </div>
                      </div>
                      <div class="row pt-2">
                      <div class="col">Purchase price:</div>
                      <div class="col-lg-6">
                          <input type="number" step="0.01" class="form-control" min=0 required="required" id="purchase_price"
                              name="purchase_price">
                      </div>
                      </div>
                      <div class="row pt-2">
                      <div class="col">Deposit:</div>
                      <div class="col-lg-6">
                          <input type="number" step="0.01" class="form-control" min=0 required="required" id="deposit" name="deposit">
                      </div>
                      </div>
                      <div class="row pt-2">
                      <div class="col">Contents price (if separate):</div>
                      <div class="col-lg-6">
                          <input class="form-control" type="text" required="required" name="contents_price" id="contents_price"
                              disabled="disabled" value="N/A">
                      </div>
                      </div>
                      <div class="row pt-2">
                      <div class="col">Balance:</div>
                      <div class="col-lg-6">
                          <input class="form-control" type="text" readonly="readonly" min="0" name="balance" id="balance">
                      </div>
                      </div>
                      <div class="row pt-2">
                      <div class="col">
                          <p class="text-center mb-0 tex-justify">The seller will sell and the buyer will buy the property for the
                          purchase price.
                          </p>
                          <p class="col text-center m-2 m-lg-0"><a href="#">Sales agreement terms</a></p>
                      </div>
                      </div>
                      <div class="row">
                      <div class="col">
                          <p class="font-weight-bold mb-0">Notices can be sent to:</p>
                      </div>
                      </div>
                      <div class="row">
                      <div class="col">
                          <span class="font-weight-bold">Buyer's conveyancer</span><br>
                          Name: Samuel Barnes<br>
                          Email: samuel.barnes@example.com
                      </div>
                      <div class="col mt-3 mt-lg-0">
                          <span class="font-weight-bold">Seller's conveyancer</span><br>
                          Name: Natasha Powell<br>
                          Email: natasha.powell@example.com
                      </div>
                      </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col text-center">
                      <button type="submit" class="btn conveyit4u-bg-button btn-lg">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          {% endblock %}
        </main>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script>
    $(document).ready(function () {
      $('#completion_date:not([readonly])').datepicker({
        format: 'dd/mm/yyyy',
        todayHighlight: true,
        autoclose: true
      });

      //set balance = purchase_price-deposit
      $("#purchase_price, #deposit").bind('change', function () {
        $("#balance").val($("#purchase_price").val() - $("#deposit").val());
        $("#deposit").attr({
          "max": $("#purchase_price").val()
        });
      });

    })
  </script>
  {{ super() }}
{% endblock %}
