{% extends "v4/conveyancer/layout.html" %}


{% block header %}
  {% include "v4/conveyancer/conveyit4u/includes/header.html" %}
{% endblock %}

{% block main %}
    <div class="container-fluid mb-5">
        <div class="row">
        {% block sidebar %}
            {% include "v4/conveyancer/conveyit4u/includes/sidebar.html" %}
        {% endblock %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-1">

                {% block content %}
                    <div class="w-75 my-5 p-3 conveyit4u-container text-center">
                        <h1 class="font-weight-bold">Your property transfer is complete</h1>
                        <div class="h3">
                        HM Land Registry have updated their register and you're no longer the owner of 1 Digital Street.
                        <br><br>The money from the sale should be with you by the end of the day.
                        <br><br>
                        <strong>Reminder!</strong><br>
                        Make sure that you've handed your keys to your estate agent.<br>
                        <img src="/public/v4/images/confirmation_screen_seller.png" class="img-responsive w-15">
                        <br>
                        <strong>Please remember to <a href="{{ nextURL }}" class="colour-inherit" style="text-decoration: underline">logout</a></strong>
                        </div>
                    </div>
                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
