{% extends "v4/conveyancer/layout.html" %}


{% block header %}
  {% include "v4/conveyancer/conveyit4u/includes/header.html" %}
{% endblock %}

{% block main %}
    <div class="container-fluid mb-5">
        <div class="row">
            <main role="main" class="ml-sm-auto col">

                {% block content %}
                    <div class="col-lg-7 conveyit4u-container text-center">
                        <h1>Your property transfer is complete</h1>                        
                        <p class="lead">
                            HM Land Registry have updated their register and you're no longer the owner of 1 Digital Street. <br>
                            The money from the sale should be with you by the end of the day. <br>
                        </p>
                        <h2>Reminder!</h2>
                        <p class="lead">
                            Make sure that you've handed your keys to your estate agent.
                        </p>
                        <img src="/public/v4/images/confirmation_screen_seller.png" class="img-responsive w-15">
                        <br>
                        <p class="lead">
                            <strong>You can now <a href="{{ nextURL }}" class="colour-inherit" style="text-decoration: underline">logout</a></strong>
                        </p>
                    </div>
                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
